.main-menu {
  /* size & indents */
  width: 240px;
  padding: 20px 0;

  /* appearance */
  background-color: var(--content-background-color);

  /* content */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-menu ul {
  /* appearance */
  list-style: none;
}

.main-menu li {
  /* size & indents */
  padding: 12px 20px;
}

.main-menu a {
  /* appearance */
  color: var(--content-text-color);
  text-decoration: none;
}

.main-menu a:hover {
  /* appearance */
  color: white;
}
