@import url(normalize.css);
@import url(../fontawesome/css/all.css);

:root {
  /* rgb(29, 34, 46) */
  --main-background-color: #1d222e;
  /* rgb(37, 43, 59) */
  --content-background-color: #252b3b;
  /* rgb(133, 144, 165) */
  --content-text-color: #8590a5;
  /* rgb(45, 52, 72) */
  --highlited-background-color: #2d3448;
  /* rgb(121, 133, 156) */
  --blocks-background-color: #79859c;
  /* rgb(41, 47, 63) */
  --input-background-color: #292f3f;
}

* {
  /* size & indents */
  margin: 0;
  padding: 0;
}

body {
  /* size & indents */
  width: 100%;

  /* appearance */
  background-color: var(--main-background-color);
  font-family: "Roboto Condensed", Consolas, sans-serif;
  color: white;
  font-size: 20px;
}

/* @font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url(../fonts/inter-medium.woff2) format("woff2"),
    url(../fonts/inter-medium.woff) format("woff");
} */

.fa-regular::before,
.fa::before {
  margin-right: 8px;
}

.pageTitle {
  margin: 20px;
}

.tableWrapper {
  padding: 16px;
}

table.data-table {
  /* size & indents */
  margin-bottom: 16px;

  /* Для растягивания на всю ширину: */
  /* width: 100%; */
  /* padding: 16px; */

  /* appearance */
  background-color: var(--content-background-color);
  color: var(--content-text-color);

  /* content */
  border-spacing: 10px 0px;
}

table.data-table tr {
  border-bottom: 1px solid var(--content-text-color);
}

table.data-table tr:not(.header):hover {
  background-color: var(--highlited-background-color);
}

table.data-table th {
  /* appearance */
  color: #b5c0d5;

  /* content */
  text-align: left;
}

table.data-table td,
table.data-table th {
  /* size & indents */
  padding: 12px;

  /* borders */
  /* border-bottom: 1px solid var(--content-text-color); */
  border-bottom: 1px solid var(--blocks-background-color);
}

.action+.action {
  margin-left: 12px;
}

button {
  /* size & indents */
  padding: 8px 12px;

  /* borders */
  border: none;
  border-radius: 0.25rem;

  /* appearance */
  cursor: pointer;
  color: white;
  background-color: var(--highlited-background-color);
  line-height: 1.5;
}

button:hover {
  background-color: #0f9cf3;
}

button+button {
  margin-left: 12px;
}

button.table-action {
  margin-bottom: 16px;
}

.icon-before-label {
  margin-right: 8px;
}

.center {
  text-align: center;
}

.form-control+.form-control {
  margin-top: 16px;
}

.form-control label {
  /* position */
  display: block;

  /* size & indents */
  margin-bottom: 16px;
}

input,
select {
  /* size & indents */
  box-sizing: border-box;
  width: 100%;
  padding: 8px 12px;

  /* borders */
  border: 1px solid var(--highlited-background-color);

  /* appearance */
  color: white;
  background-color: var(--input-background-color);
}
