@import url(normalize.css);
@import url(../fontawesome/css/all.css);

:root {
  --main-background-color: #1d222e;
  --content-background-color: #252b3b;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-background-color);
  /* font-family: "Roboto Condensed", Consolas, sans-serif; */
  font-family: Verdana, sans-serif;
  color: white;
  width: 100%;
}

/* @font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url(../fonts/inter-medium.woff2) format("woff2"),
    url(../fonts/inter-medium.woff) format("woff");
} */

.fa-regular::before,
.fa::before {
  margin-right: 8px;
}