@import url(normalize.css);
@import url(../fontawesome/css/all.css);

:root {
  --main-background-color: #252b3b;
}

body {
  background-color: #1d222e;
  font-family: "Roboto Condensed", Consolas, sans-serif;
  color: white;
  width: 100%;
}

/* @font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url(../fonts/inter-medium.woff2) format("woff2"),
    url(../fonts/inter-medium.woff) format("woff");
} */

.icon {
  padding-right: 8px;
}

.fa-regular::before {
  margin-right: 8px;
}