@import url("normalize.css");

body {
  background-color: #1d222e;
  font-family: Inter, sans-serif;
  color: white;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url(../fonts/inter-medium.woff2) format("woff2"),
    url(../fonts/inter-medium.woff) format("woff");
}