.card {
  /* position */
  display: table;

  /* size & indents */
  margin-left: 16px;
  padding: 24px;

  /* appearance */
  background-color: var(--content-background-color);
}

.card-title {
  /* size & indents */
  margin: 24px;
}