.card {
  /* position */
  display: table;

  /* size & indents */
  padding: 24px;

  /* appearance */
  background-color: var(--content-background-color);
}

.card__title {
  /* size & indents */
  margin-bottom: 24px;
}
